name: nerdstore

x-common-variables: &common-variables
    ASPNETCORE_ENVIRONMENT: Docker
    ASPNETCORE_URLS: https://+:443;http://+:80
    ASPNETCORE_Kestrel__Certificates__Default__Password: 9HoGMnb7Lu8NFdHBz4Vq2rtKivzMhmMXhtvuB4TZcLMmbWfFmDQCjJeLURAJ4GYe
    ASPNETCORE_Kestrel__Certificates__Default__Path: /https/nerdstore.io-localhost.pfx
    AppSettings__DatabaseType: Postgre
    MessageQueueConnection__MessageBus: host=rabbitmq:5672;publisherConfirms=true;timeout=30;username=nerdstore;password=nerdstore

include:
    - docker-common-resources.yml

services:
    
    api-identity:
        image: willianbrito00/nerdstore-api-identity:${TAG}
        container_name: nerdstore-api-identity  
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBUsers;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            generate-pfx:
                condition: service_completed_successfully
            postgres:
                condition: service_started
            logging:
                condition: service_started
            rabbitmq:
                condition: service_started

    api-cart:
        image: willianbrito00/nerdstore-api-cart:${TAG}
        container_name: nerdstore-api-cart
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBShoppingCart;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            api-identity:
                condition: service_started

    api-catalog:
        image: willianbrito00/nerdstore-api-catalog:${TAG}
        container_name: nerdstore-api-catalog
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBCatalog;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            api-identity:
                condition: service_started

    api-customers:
        image: willianbrito00/nerdstore-api-customers:${TAG}
        container_name: nerdstore-api-customers
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBCustomer;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            api-identity:
                condition: service_started

    api-order:
        image: willianbrito00/nerdstore-api-order:${TAG}
        container_name: nerdstore-api-order
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=sql-server,1433;Database=DBOrder;User Id=sa;Password=MyDB@123;TrustServerCertificate=True;"
            AppSettings__DatabaseType: SqlServer
            Logging__Console__FormatterName: ""
        volumes:
            - ./certs:/https:ro
        depends_on:
            api-identity:
                condition: service_started

    api-payment:
        image: willianbrito00/nerdstore-api-payment:${TAG}
        container_name: nerdstore-api-payment
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBPayment;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            api-identity:
                condition: service_started
            api-order:
                condition: service_started

    api-bff-checkout:
        image: willianbrito00/nerdstore-api-bff-checkout:${TAG}
        container_name: nerdstore-api-bff-checkout
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBStatus;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
        depends_on:
            - api-identity
            - api-cart
            - api-payment
            - api-order

    web-mvc:
        image: willianbrito00/nerdstore-web-mvc-ecommerce:${TAG}
        container_name: nerdstore-web-mvc-ecommerce    
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBStatus;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
            LC_ALL: "en_US.UTF-8"
            LANG: "en_US.UTF-8"
            # Change the two lines above to your culture (ex pt_BR)
            USE_HTTPS_REDIRECTION: "false"
        expose:
            - 80
            - 443
        volumes:
            - ./certs:/https:ro
            - dpkeys:/var/data_protection_keys/
        depends_on:
            - api-catalog
            - api-identity
            - api-customers
            - api-bff-checkout

    web-status:
        image: willianbrito00/nerdstore-web-status:${TAG}
        container_name: nerdstore-web-status
        restart: always
        environment:
            <<: *common-variables
            CUSTOMCONNSTR_DefaultConnection: "Server=postgres;Database=DBStatus;Port=5432;User Id=postgres;Password=MyDB@123;CommandTimeout=500"
        volumes:
            - ./certs:/https:ro
            - ./certs/nerdstore.crt:/usr/local/share/ca-certificates/nerdstore.crt
        depends_on:
            - web-mvc

volumes:
    dpkeys:
    nginx-certs:
