name: nerdstore

services:
      
    rabbitmq:
        image: rabbitmq:management
        container_name: nerdstore-rabbit
        hostname: rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        expose:
            - 5672
            - 15672
        environment:
            RABBITMQ_DEFAULT_USER: "nerdstore"
            RABBITMQ_DEFAULT_PASS: "nerdstore"
        healthcheck: # Add health check to ensure RabbitMQ is ready
            test: [ "CMD", "rabbitmqctl", "status" ]
            interval: 3s
            timeout: 5s
            retries: 10
            start_period: 5s
    
    generate-pfx:
        image: emberstack/openssl:latest
        container_name: generate-pfx
        volumes:
            - ./certs:/https:rw
            - nginx-certs:/nginx-certs:rw
        command: >
            sh -c "(
                   rm -f /https/nerdstore.io-localhost.pfx &&
                   openssl genrsa -out nerdstore.rsa 2048 &&
                   openssl req -sha256 -new -key nerdstore.rsa -out nerdstore.csr -subj '/CN=localhost' &&
                   openssl x509 -req -sha256 -days 365 -in nerdstore.csr -signkey nerdstore.rsa -out nerdstore.crt &&
                   openssl pkcs12 -export -out /https/nerdstore.io-localhost.pfx -inkey nerdstore.rsa -in nerdstore.crt -password pass:9HoGMnb7Lu8NFdHBz4Vq2rtKivzMhmMXhtvuB4TZcLMmbWfFmDQCjJeLURAJ4GYe &&
                   chmod 644 /https/nerdstore.io-localhost.pfx &&
                   # Copy CRT and KEY files to the nginx-certs volume
                   cp nerdstore.crt /nginx-certs/ &&
                   cp nerdstore.rsa /nginx-certs/nerdstore.key)" 

    nerdstore-server:        
        image: nginx:1.29
        container_name: nerdstore-server 
        restart: always
        volumes:
            - ./nginx/nerdstore.conf:/etc/nginx/conf.d/default.conf:ro
            - nginx-certs:/etc/nginx/certs:ro
        ports:
            - "7500:80"
            - "7501:443"
            - "7510:8080"
            - "7511:4443"
        depends_on:
            generate-pfx:
                condition: service_completed_successfully

volumes:
    dpkeys:
    nginx-certs:
